<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project management</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script language="javascript">
        function projectNameDisplay() {
            var projectName=document.getElementById('projectName');
            //alert(projectName.innerText)
            if(!projectName.innerText){
                document.getElementById('isProjectName').innerHTML="You have not release any project! You can press the button below to release your project.";
                document.getElementById("releaseProject").style.display='inline';
            }
        }
    </script>

</head>
<body onload="projectNameDisplay()">
<header role="banner">

    <div class="headcontainer">
        <div  class=" page-title" >
            Welcome, <%= currentUserName%>
        </div>
        <div class="page-title" style="color:#0166b3 ">
            Client service
        </div>
    </div>

</header>

<form class="functionBoard">
    <div class="functionBoard left">
        <div>
            <u1>
                <h1 class="functionBoard-frame functionBoard-Title ">Menu</h1>
                <li class="list-group"><button class="functionBoard-Button " type="button" id="buttonCHome" onclick="location.href='/CHomePage'">Home</button></li>
                <li class="list-group"><button class="functionBoard-Button current " type="button" id="buttonCProject" onclick="location.href='/CProjectManagement'">Project management</button></li>
                <li class="list-group"><button class="functionBoard-Button" type="button" onclick="location.href='https://calendar.google.com/calendar/r'"> Calendar </button></li>
                <li class="list-group"><button class="functionBoard-Button " type="button" id="buttonCMark" onclick="location.href='/CFeedback'">Marking</button></li>
            </u1>
            <button class="functionBoard-Button" style="float:left;margin-top: 200%" type="button"  onclick="location.href='/logout'">Logout</button>

        </div>
    </div>
    </div>
    <div class="functionBoard right">
        <main role="main" class="container mt-3 mb-3">
            <div id="content" class="row">
                <div class="col-md">
                    <h2 class="projectScream title">Project management</h2>
                    <div class="projectScream form">
                        <u1 class="projectScream item">
                            <li class="list-group project" id="isProjectName">
                                Your released project is following below:
                                <p style="border-bottom: solid 1px #dddddd;">
                                <a id="projectName" name="link" role="button" style='text-decoration: none; ' href='/CProjectRelease?projectID=<%= projectList[0]._id%>'> <%=projectList[0].projectName%> <span style=" float: right;"><%=projectList[0].status%></span>
                                </a>
                                </p>
                            </li>
                            <li class="list-group project">
                                <button class="btn btn-block btn-submit button button--primary " id="releaseProject" type="button" onclick="location.href='/CProjectRelease'" style="display: none; margin-top: 20px" >Release a project</button>
                            </li>
                        </u1>
                    </div>
                </div>
            </div>
        </main>
    </div>
</form>

<footer class="footer" role="contentinfo">
    <div class="container">
        <span id="copyright">Copyright © SSITteam4</span>
    </div>
</footer>
</body>
</html>