<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project management</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script language="javascript">
        function $(obj){return document.getElementById(obj);}
        function show(objid) {$(objid).style.display='inline';}
        function hidden(objid) {$(objid).style.display='none';}
        function eJect(){
            var sel_val1=$('dateSelect').value;
            if (sel_val1=='') {hidden('a1');}
            if (sel_val1!=0) {show('a1');}
        }

        function showRecordHistory() {
            var oldRecord;
        }
        function startEdit(editableDiv){
            document.getElementById(editableDiv).disabled = false;;
        }
        function stopEdit(editableDiv){
            var element = document.getElementById(editableDiv);
            element.disabled = true;
        }
        function editableTrue() {
            startEdit('editableDiv');
            startEdit('projectName');
            document.getElementById('editableDiv').style.backgroundColor='white';
            document.getElementById('projectName').style.backgroundColor='white';
        }

        function editableFalse() {
            stopEdit('editableDiv');
            stopEdit('projectName');
            document.getElementById('editableDiv').style.backgroundColor='transparent';
            document.getElementById('projectName').setAttribute('style','background-color: transparent!important;')
        }

        function Dtext()//输出数据
        {
            var data="Client|assssssssadads|2020|ML|ASDASDA|2020|Client|qweqeqeq|2020|ML|zxczxczxc|2020|";
            var dataHtml = "";
            var counter=0;
            data=data.split("|");
            counter=data.length-2;

            var j=counter;

            for(var i=counter/3;i>=0;i--){
                dataHtml += "<p style=>" + data[counter-j]+":"+"<span style=\"float: right;\">"+data[counter-j+2]+"</span>" + "<br><textarea class=\"form-control required\" rows='5' cols='117' disabled = true style=\" margin-top: 0px!important;margin-right: 10px!important;background-color: transparent!important;;resize: none;\">" + data[counter-j+1] + "</textarea>";
                j=j-3;
            }
            document.getElementById("comment").innerHTML = dataHtml;
        }

    </script>

</head>
<body onload="Dtext()">
<header role="banner">
    <div class="headcontainer">

        <div class="page-title">
            Client services
        </div>
    </div>
</header>

<form class="functionBoard">
    <div class="functionBoard left">
        <div>
            <u1>
                <h1 class="functionBoard-frame functionBoard-Title ">Menu</h1>
                <li class="list-group"><button class="functionBoard-Button" type="button" onclick="location.href='Page3HomePage.html'">Home</button></li>
                <li class="list-group"><button class="functionBoard-Button current">Project management</button></li>
                <li class="list-group"><button class="functionBoard-Button">Schedule</button></li>
                <li class="list-group"><button class="functionBoard-Button">Marking</button></li>
            </u1>
        </div>
    </div>
    </div>
    <div class="functionBoard right">
            <main role="main" class="container mt-3 mb-3">
                <div id="content" class="row">
                    <div class="col-md"style="margin-bottom: 35px">
                        <h2 class="projectScream title">Project management</h2>
                        <div class="projectScream form" >
                            <u1 class="projectScream item">
                                <li class="list-group project">
                                    <h3 style="margin-bottom: 20px;">Project Release:</h3>
                                </li>
                                <li class="list-group project">
                                    <section class="form-group">
                                        <h4>Project Name:</h4>
                                        <div>
                                            <input class="form-control required" id="projectName" style="background-color: transparent!important;" type="text"  name="projectName" value="" disabled = true>
                                        </div>
                                    </section>
                                    <section class="form-group">
                                        <h4>Project Description:</h4>
                                        <textarea  class="form-control required" id="editableDiv" rows="13" cols="100" style="resize:none; background-color: transparent" disabled=true></textarea>
                                    </section>
                                    <div>
                                    <button class="btn btn-block btn-submit button button--primary smaller" type="button" onclick="editableTrue()" style="float: left" >Edit</button>
                                    <button class="btn btn-block btn-submit button button--primary smaller" type="button" onclick="editableFalse()" style="float: left">Confirm</button>
                                    <button class="btn btn-block btn-submit button button--primary smaller" type="submit"  >Release</button>
                                    </div>
                                </li>
                            </u1>
                        </div>
                        <div class="projectScream form">
                            <u1 class="projectScream item">
                                <li class="list-group project">
                                    <h3 style="margin-bottom: 20px;">Message broad:</h3>
                                </li>
                                <li class="list-group project">
                                    <div id="comment"></div>
                                </li>

                                <li class="list-group project">
                                    <h3 style="margin-bottom: 20px;">Message:</h3>
                                </li>
                                <li class="list-group project">

                                        <div>
                                            <textarea class="form-control required" rows="13" cols="100" style="resize:none; background-color: white"></textarea>
                                        </div>
                                    <br>
                                    <div> <button class="btn btn-block btn-submit button button--primary smaller" type="submit"  >Send</button></div>
                                </li>

                            </u1>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</form>




<footer class="footer" role="contentinfo">
    <div class="container">
        <span id="copyright">Copyright © SSITteam4</span>
    </div>
</footer>
</body>
</html>