<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <style type="text/css">a {text-decoration: none}</style>

    <p><a href="/Login">Login </a></p>
    <p><a href="/Registration">Registration</a></p>





  </body>
</html>
