<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>

<header role="banner">
    <div class="headcontainer">
        <div class="page-title">
            Online services
        </div>
    </div>
</header>

<section class="functionBoard">
    <div class="functionBoard left">
        <div>
            <u1>
                <h1 class="functionBoard-frame functionBoard-Title ">Menu</h1>
                <li class="list-group"><button class="functionBoard-Button current" type="button" id="buttonLogin" onclick="location.href='/Login'">Login</button></li>
                <li class="list-group"><button class="functionBoard-Button" type="button" id="buttonRegist" onclick="location.href='/Registration'">Register</button></li>

            </u1>
        </div>
    </div>
    </div>
    <div class="functionBoard right">
        <main role="main" class="container mt-3 mb-3">
            <div id="content" class="row">
                <div class="col-md">
                    <div class="card">
                        <div class="card-header text-center">
                            <h2>Login</h2>
                        </div>
                        <div class="card-body">
                            <form method="post" id="fm1" >
                                <section class="form-group">
                                    <div style="color: red;"><%= tips%></div>
                                    <br>
                                    <label for="username">User name:</label>
                                    <div>
                                        <input class="form-control required" id="username" size="25" tabindex="1" type="text" accesskey="n" autocomplete="off" name="emailAddress" value=""placeholder="Your Email address">
                                    </div>
                                </section>

                                <section class="form-group">
                                    <label for="password">Password:</label>

                                    <div>
                                        <input class="form-control required" type="password" id="password" size="25" tabindex="2" accesskey="p" autocomplete="off" name="password" value=""><span id="capslock-on" style="display:none;">
                                <p>
                                    <i class="fa fa-exclamation-circle"></i>
                                    <span>CAPSLOCK key is turned on!</span>
                                </p>
                            </span>
                                    </div>
                                </section>


                                <input class="btn btn-block btn-submit button button--primary" name="submit" accesskey="l" tabindex="6" type="submit" value="Login">
                            </form>

                        </div>
                    </div>

                </div>


                <div id="providers" class="col-md mt-3 mt-md-0"> </div>



            </div>
        </main>
    </div>
</section>




<footer class="footer" role="contentinfo">
    <div class="container">
        <span id="copyright">Copyright © SSITteam4</span>
        </div>
</footer>


</body>

</body>
</html>