<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script type="text/javascript">

        function startEdit(id){
            document.getElementById(id).disabled = false;
        }

        function editableTrue() {
            document.getElementById('submit').style.display="inline"
            startEdit('member1');
            startEdit('member2');
            startEdit('member3');
            startEdit('member4');
            startEdit('member5');
            startEdit('member6');
            startEdit('selectProject');
            startEdit('selectFacilitator');
            document.getElementById('member1').style.backgroundColor='white';
            document.getElementById('member2').style.backgroundColor='white';
            document.getElementById('member3').style.backgroundColor='white';
            document.getElementById('member4').style.backgroundColor='white';
            document.getElementById('member5').style.backgroundColor='white';
            document.getElementById('member6').style.backgroundColor='white';
            document.getElementById('selectProject').style.backgroundColor='white';
            document.getElementById('selectFacilitator').style.backgroundColor='white';

        }



    </script>
</head>
<body >

<header role="banner">
    <div class="headcontainer">
        <div  class=" page-title" >
            Welcome, <%= currentUserName%>
        </div>
        <div class="page-title" style="color:#0166b3 ">
            Module Leader service
        </div>

    </div>
</header>

<form class="functionBoard">
    <div class="functionBoard left">
        <div>
            <u1>
                <h1 class="functionBoard-frame functionBoard-Title ">Menu</h1>
                <li class="list-group"><button class="functionBoard-Button" type="button" id="buttonMLHome" onclick="location.href='/MLHomePage'">Home</button></li>
                <li class="list-group"><button class="functionBoard-Button" type="button" id="buttonMLProject" onclick="location.href='/MLProjectManagement'">Project management</button></li>
                <li class="list-group"><button class="functionBoard-Button current" type="button" id="buttonMLGroup" onclick="location.href='/MLGroupManagement'">Group management</button></li>
                <li class="list-group"><button class="functionBoard-Button" type="button" id="buttonMLAnnouncement" onclick="location.href='/MLAnnouncement'">Announcements</button></li>
                <li class="list-group"><button class="functionBoard-Button" type="button" id="buttonMLMarking" onclick="location.href='/MLGroupMarking'">Marking</button></li>
                <li class="list-group"><button class="functionBoard-Button" type="button" onclick="location.href='https://calendar.google.com/calendar/r'"> Calendar </button></li>


            </u1>
            <button class="functionBoard-Button" style="float:left;margin-top: 200%" type="button"  onclick="location.href='/logout'">Logout</button>

        </div>
    </div>
    </div>
    <div class="functionBoard right">
        <main role="main" class="container mt-3 mb-3">
            <div id="content" class="row">
                <div class="col-md">
                    <h2 class="projectScream title">Group management</h2>
                    <div class="projectScream form">
                        <h2 style="margin: 10px;">Group formation:<span style="margin-left: 20px;">
                        <select style="background-color: white;font-size: 25px;margin-top: 5px" id="selectGroup">
                            <option value=" ">---select a group---</option>
                            <option>project1</option>
                            <option>project1</option>
                            <option>project1</option>
                            <option>project1</option>
                        </select>
                                <button class="btn btn-block btn-submit button button--primary smaller" type="submit" style="margin-right: 48%;" value="true">Search</button>
                            </span>
                        </h2>
                        <u1 id="group"  class="projectScream item">

                            <li id="team"  class="list-group project">
                                <div style="margin: 0px;">
                                    <div style="border: 1px solid rgb(51, 51, 51); margin: 10px;">

                                    <h2 style="padding: 5px; margin: 2px;margin-left: 8px;">
                                        Group Name
                                    </h2>
                                        <h2 style="padding: 5px; margin: 10px;margin-left: 8px;">
                                            Facilitator: <span>
                                                <select disabled="true" style="font-size: 23px;background-color: transparent;" id="selectFacilitator">
                                                <option value=" ">---please select a facilitator---</option>
                                                <option>project1</option>
                                            </select>
                                            </span>
                                        </h2>
                                        <h2 style="margin-left: 10px;">
                                            Project:<span>
                                            <select disabled="true" style="font-size: 23px;background-color: transparent;width: 91%" id="selectProject">
                                                <option value=" ">---please select a project---</option>
                                                <option>project1</option>
                                            </select>
                                            </span>
                                        </h2>
                                        <div style="margin: 10px 10px 65px !important;">
                                            <h2>
                                                Members:
                                            </h2>
                                            <table border="1" id="qwe" style="width: 100%;">
                                                <tbody>
                                                <tr><td disabled="true">Name</td ><td disabled="true">E-mail</td></tr>
                                                </tbody>
                                                <tr>


                                                    <td>
                                                        <select disabled="true" id="member1" type="text" name="member1"  style=" font-size: 23px;width: 100%; border: 0px; background-color: transparent !important;">
                                                            <option value=" ">---please select a member---</option>
                                                            <option>project1</option>
                                                        </select>
                                                    </td>
                                                    <td style="width: 50%"></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <select disabled="true" id="member2" type="text" name="member2"  style="font-size: 23px;width: 100%; border: 0px; background-color: transparent !important;">
                                                            <option value=" ">---please select a member---</option>
                                                            <option>project1</option>
                                                        </select>
                                                    </td>
                                                    <td style="width: 50%"></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <select disabled="true" id="member3" type="text" name="member3"  style="font-size: 23px;width: 100%; border: 0px; background-color: transparent !important;">
                                                            <option value=" ">---please select a member---</option>
                                                            <option>project1</option>
                                                        </select>
                                                    </td>
                                                    <td style="width: 50%"></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <select disabled="true" id="member4" type="text" name="member4"  style="font-size: 23px;width: 100%; border: 0px; background-color: transparent !important;">
                                                            <option value=" ">---please select a member---</option>
                                                            <option>project1</option>
                                                        </select>
                                                    </td>
                                                    <td style="width: 50%"></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <select disabled="true" id="member5" type="text" name="member5"  style="font-size: 23px;width: 100%; border: 0px; background-color: transparent !important;">
                                                            <option value=" ">---please select a member---</option>
                                                            <option>project1</option>
                                                        </select>
                                                    </td>
                                                    <td style="width: 50%"></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <select disabled="true" id="member6" type="text" name="member6"  style="font-size: 23px;width: 100%; border: 0px; background-color: transparent !important;">
                                                            <option value=" ">---please select a member---</option>
                                                            <option>project1</option>
                                                        </select>
                                                    </td>
                                                    <td style="width: 50%"></td>
                                                </tr>



                                                </tr>

                                            </table>
                                            <div>
                                                <br>
                                            <button class="btn btn-block btn-submit button button--primary smaller" type="button" onclick="editableTrue()" style="float: left" >Edit</button>
                                                <button id="submit" class="btn btn-block btn-submit button button--primary smaller"  style="display: none!important;float: right!important; width: auto!important;" type="submit" >Submit</button>

                                            </div>
                                </div>
                                </div>
                                </div>

                            </li>

                        </u1>


                    </div>
                </div>
            </div>
        </main>
    </div>
</form>





<footer class="footer" role="contentinfo">
    <div class="container">
        <span id="copyright">Copyright © SSITteam4</span>
    </div>
</footer>
</body>
</html>