<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script type="text/javascript">

        function startEdit(editableDiv){
            document.getElementById(editableDiv).disabled = false;
        }
        function stopEdit(editableDiv){
            var element = document.getElementById(editableDiv);
            element.disabled = true;
        }
        function editableTrue() {
            document.getElementById('summit').style.display="inline"
            startEdit('input1');
            startEdit('input2');
            startEdit('input3');
            startEdit('input4');
            startEdit('input5');
            startEdit('input6');
            startEdit('input7');
            startEdit('input8');
            startEdit('input9');
            startEdit('input10');
            startEdit('input11');
            startEdit('input12');
            document.getElementById('input2').style.backgroundColor='white';
            document.getElementById('input4').style.backgroundColor='white';
            document.getElementById('input6').style.backgroundColor='white';
            document.getElementById('input8').style.backgroundColor='white';
            document.getElementById('input10').style.backgroundColor='white';
            document.getElementById('input12').style.backgroundColor='white';
            document.getElementById('input1').style.backgroundColor='white';
            document.getElementById('input3').style.backgroundColor='white';
            document.getElementById('input5').style.backgroundColor='white';
            document.getElementById('input7').style.backgroundColor='white';
            document.getElementById('input9').style.backgroundColor='white';
            document.getElementById('input11').style.backgroundColor='white';
        }

        function editableFalse() {
            stopEdit('input1');
            stopEdit('input2');
            stopEdit('input3');
            stopEdit('input4');
            stopEdit('input5');
            stopEdit('input6');
            stopEdit('input7');
            stopEdit('input8');
            stopEdit('input9');
            stopEdit('input10');
            stopEdit('input11');
            stopEdit('input12');
            document.getElementById('input2').setAttribute('style','width: 100%; border: 0px; background-color: transparent !important;')
            document.getElementById('input4').setAttribute('style','width: 100%; border: 0px; background-color: transparent !important;')
            document.getElementById('input6').setAttribute('style','width: 100%; border: 0px; background-color: transparent !important;')
            document.getElementById('input8').setAttribute('style','width: 100%; border: 0px; background-color: transparent !important;')
            document.getElementById('input10').setAttribute('style','width: 100%; border: 0px; background-color: transparent !important;')
            document.getElementById('input12').setAttribute('style','width: 100%; border: 0px; background-color: transparent !important;')
            document.getElementById('input1').setAttribute('style','width: 100%; border: 0px; background-color: transparent !important;')
            document.getElementById('input3').setAttribute('style','width: 100%; border: 0px; background-color: transparent !important;')
            document.getElementById('input5').setAttribute('style','width: 100%; border: 0px; background-color: transparent !important;')
            document.getElementById('input7').setAttribute('style','width: 100%; border: 0px; background-color: transparent !important;')
            document.getElementById('input9').setAttribute('style','width: 100%; border: 0px; background-color: transparent !important;')
            document.getElementById('input11').setAttribute('style','width: 100%; border: 0px; background-color: transparent !important;')

        }


    </script>
</head>
<body >

<header role="banner">
    <div class="headcontainer">

        <div class="page-title">
            Module leader services
        </div>
        <div  style=" font-size:25px">
            welcome email
        </div>
    </div>
</header>

<form class="functionBoard">
    <div class="functionBoard left">
        <div>
            <u1>
                <h1 class="functionBoard-frame functionBoard-Title ">Menu</h1>
                <li class="list-group"><button class="functionBoard-Button" type="button" id="buttonMLHome" onclick="location.href='/MLHomePage'">Home</button></li>
                <li class="list-group"><button class="functionBoard-Button" type="button" id="buttonMLProject" onclick="location.href='/MLProject'">Project management</button></li>
                <li class="list-group"><button class="functionBoard-Button current" type="button" id="buttonMLGroup" onclick="location.href='/MLGroup'">Group management</button></li>
                <li class="list-group"><button class="functionBoard-Button" type="button" onclick="location.href='https://calendar.google.com/calendar/r'"> Calendar </button></li>
                <li class="list-group"><button class="functionBoard-Button">Announcements</button></li>
                <li class="list-group"><button class="functionBoard-Button">Marking</button></li>
            </u1>
        </div>
    </div>
    </div>
    <div class="functionBoard right">
        <main role="main" class="container mt-3 mb-3">
            <div id="content" class="row">
                <div class="col-md">
                    <h2 class="projectScream title">Group management</h2>
                    <div class="projectScream form">
                        <h3 style="margin: 20px;">Group formation:</h3>

                        <u1 id="group"  class="projectScream item">

                            <li id="team"  class="list-group project">
                                <div style="margin: 0px;">
                                    <div style="border: 1px solid rgb(51, 51, 51); margin: 10px;">
                                    <h4 style="padding: 5px; margin: 2px;margin-left: 8px;">
                                        Group Name
                                    </h4>
                                        <div style="margin-left: 10px;">
                                            <select style="background-color: #EEF0F0" id="selectProject">
                                                <option>---please choose the project---</option>
                                                <option>project1</option>
                                                <option>project1</option>
                                                <option>project1</option>
                                                <option>project1</option>


                                            </select>
                                        </div>
                                        <div style="margin: 10px 10px 65px !important;">
                                            <table border="1" id="qwe" style="width: 100%;">
                                                <tbody><tr><td>Name</td><td>E-mail</td></tr>
                                                </tbody>
                                                <tr><td><input disabled="true" id="input1" type="text" name="input1" style="width: 100%; border: 0px; background-color: transparent !important;"></td>
                                                    <td><input disabled="true" id="input2" type="text" name="input1" style="width: 100%; border: 0px; background-color: transparent !important;"></td>
                                                <tr><td><input disabled="true" id="input3" type="text" name="input1" style="width: 100%; border: 0px; background-color: transparent !important;"></td>
                                                    <td><input disabled="true" id="input4" type="text" name="input1" style="width: 100%; border: 0px; background-color: transparent !important;"></td>
                                                <tr><td><input disabled="true" id="input5" type="text" name="input1" style="width: 100%; border: 0px; background-color: transparent !important;"></td>
                                                    <td><input disabled="true" id="input6" type="text" name="input1" style="width: 100%; border: 0px; background-color: transparent !important;"></td>
                                                <tr><td><input disabled="true" id="input7" type="text" name="input1" style="width: 100%; border: 0px; background-color: transparent !important;"></td>
                                                    <td><input disabled="true" id="input8" type="text" name="input1" style="width: 100%; border: 0px; background-color: transparent !important;"></td>
                                                <tr><td><input disabled="true" id="input9" type="text" name="input1" style="width: 100%; border: 0px; background-color: transparent !important;"></td>
                                                    <td><input disabled="true" id="input10" type="text" name="input1" style="width: 100%; border: 0px; background-color: transparent !important;"></td>
                                                <tr><td><input disabled="true" id="input11" type="text" name="input1" style="width: 100%; border: 0px; background-color: transparent !important;"></td>
                                                    <td><input disabled="true" id="input12" type="text" name="input1" style=" width: 100%; border: 0px; background-color: transparent !important;"></td>
                                                </tr>
                                            </table>
                                            <div>
                                                <br>
                                            <button class="btn btn-block btn-submit button button--primary smaller" type="button" onclick="editableTrue()" style="float: left" >Edit</button>
                                            <button class="btn btn-block btn-submit button button--primary smaller" type="button" onclick="editableFalse()" style="float: left">Confirm</button>
                                                <button id="summit" class="btn btn-block btn-submit button button--primary smaller"  style="display: none!important;float: right!important; width: auto!important;" type="summit" >Summit</button>

                                            </div>
                                </div>
                                </div>
                                </div>

                            </li>

                        </u1>


                    </div>
                </div>
            </div>
        </main>
    </div>
</form>





<footer class="footer" role="contentinfo">
    <div class="container">
        <span id="copyright">Copyright © SSITteam4</span>
    </div>
</footer>
</body>
</html>