<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>

<header role="banner">
    <div class="headcontainer">
        <div class="page-title">
            Module leader services
        </div>
    </div>
</header>

<form class="functionBoard">
    <div class="functionBoard left">
        <div>
            <u1>
                <h1 class="functionBoard-frame functionBoard-Title ">Menu</h1>
                <li class="list-group"><button class="functionBoard-Button" type="button" id="buttonMLHome">Home</button></li>
                <li class="list-group"><button class="functionBoard-Button" type="button" id="buttonMLProject">Project management</button></li>
                <li class="list-group"><button class="functionBoard-Button" type="button" id="buttonMLGroup">Group management</button></li>
                <li class="list-group"><button class="functionBoard-Button" type="button" onclick="location.href='https://accounts.google.com/ServiceLogin/signinchooser?service=cl&passive=1209600&osid=1&continue=https%3A%2F%2Fcalendar.google.com%2Fcalendar%2Frender&followup=https%3A%2F%2Fcalendar.google.com%2Fcalendar%2Frender&scc=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin'">Schedule</button></li>
                <li class="list-group"><button class="functionBoard-Button">Announcements</button></li>
                <li class="list-group"><button class="functionBoard-Button">Marking</button></li>
            </u1>
        </div>
    </div>
    </div>
    <div class="functionBoard right">
        <main role="main" class="container mt-3 mb-3">
            <div id="content" class="row">
                <div class="col-md">

                </div>
            </div>
        </main>
    </div>
</form>

<script type="text/javascript" src="javascripts/jquery.min.js"></script>
<script type="text/javascript" src="javascripts/bootstrap.min.js"></script>
<script type="text/javascript">
    $(function(){
        $("#buttonMLHome").click(function(){
            location.href = '/MLHomePage';
        });
        $("#buttonMLGroup").click(function(){
            location.href = '/MLGroup';
        });
        $("#buttonMLProject").click(function(){
            location.href = '/MLProject';
        });
    });
</script>



<footer class="footer" role="contentinfo">
    <div class="container">
        <span id="copyright">Copyright © SSITteam4</span>
    </div>
</footer>
</body>
</html>