<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script type="text/javascript">
        function Dtext()//输出数据
        {
            var data="asdasdadasdasdasdada|Accepted|qweqweqeqweq|Rejected|dfgdgdfgdgdg|Undetermined|";
            var dataHtml = "";
            var counter=0;
            data=data.split("|");
            counter=data.length-2;

            var j=counter;

            for(var i=counter/2;i>=0;i--){
                dataHtml += "<p style=\"border-bottom: solid 1px #dddddd;\"><a style=\'text-decoration: none;\ ' href=''>" + data[counter-j]+"</a>"+ "<span style=\" float: right;  margin-top: 0px!important;margin-right: 10px!important;background-color: transparent!important;;resize: none;\">" + data[counter-j+1] + "</span></p>";
                j=j-2;
            }
            document.getElementById("projectTitle").innerHTML = dataHtml;
        }

    </script>
</head>
<body onload="Dtext()">

<header role="banner">
    <div class="headcontainer">

        <div class="page-title">
            Module leader services
        </div>
        <div class="page-title">
            Account
            <br>show email</br>
        </div>
    </div>
</header>

<form class="functionBoard">
    <div class="functionBoard left">
        <div>
            <u1>
                <h1 class="functionBoard-frame functionBoard-Title ">Menu</h1>
                <li class="list-group"><button class="functionBoard-Button" type="button" id="buttonMLHome" onclick="location.href='/MLHomePage'">Home</button></li>
                <li class="list-group"><button class="functionBoard-Button current" type="button" id="buttonMLProject" onclick="location.href='/MLProjectManagement'">Project management</button></li>
                <li class="list-group"><button class="functionBoard-Button" type="button" id="buttonMLGroup" onclick="location.href='/MLGroupManagement'">Group management</button></li>

                <li class="list-group"><button class="functionBoard-Button" type="button" onclick="location.href='https://calendar.google.com/calendar/r'"> Calendar </button></li>
                <li class="list-group"><button class="functionBoard-Button">Announcements</button></li>
                <li class="list-group"><button class="functionBoard-Button">Marking</button></li>
            </u1>
        </div>
    </div>
    </div>
    <div class="functionBoard right">
        <main role="main" class="container mt-3 mb-3">
            <div id="content" class="row">
                <div class="col-md">
                    <h2 class="projectScream title">Project management</h2>
                    <div class="projectScream form">
                        <u1 class="projectScream item">
                            <li class="list-group project" id="isProjectName">
                                Projects received from clients:
                                <a id="projectName" href="CProjectRelease.ejs"></a>
                            </li>
                            <li class="list-group project">
                                <% for(var i=0;i<projectList.length;i++){    %>
                              <p style="border-bottom: solid 1px #dddddd;">
                                  <a name="link" role="button" style='text-decoration: none; ' href='/MLViewProject?projectID=<%= projectList[i]._id%>' value=<%= projectList[i]._id%>> <%=projectList[i].projectName%> <span style=" float: right;  margin-top: 0px!important;margin-right: 10px!important;background-color: transparent!important;;resize: none;"></span>
                                  </a>
                              </p>
                               <% }%>

                                </li>
                        </u1>
                    </div>
                </div>
            </div>
        </main>
    </div>
</form>




<footer class="footer" role="contentinfo">
    <div class="container">
        <span id="copyright">Copyright © SSITteam4</span>
    </div>
</footer>
</body>
</html>