<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FacilitatorScheduleMeeting</title>
    <link rel="stylesheet" href="CSS/PagesStyle.css">

</head>
<body>

<header role="banner">
    <div class="headcontainer">

        <div class="page-title">
            Facilitator services
        </div>
    </div>
</header>

<form class="functionBoard">
    <div class="functionBoard left">
        <div>
        <u1>
            <h1 class="functionBoard-frame functionBoard-Title ">Menu</h1>
            <li class="list-group"><button class="functionBoard-Button"type="button" onclick="location.href='Page12FacilitatorHome.html'">Home</button></li>
            <li class="list-group"><button class="functionBoard-Button" type="button" onclick="location.href='Page13FacilitatorGroup marking.html'">Group marking</button></li>
            <li class="list-group"><button class="functionBoard-Button current">My Schedule</button></li>
        </u1>
        </div>
    </div>
    </div>
    <div class="functionBoard right">
     
        <main role="main" class="container mt-3 mb-3">
        
   
        <div id="content" class="row">

                <div class="col-md">

                    <div class="card">

                        <div class="card-header text-center">
                               
                                 <h2> My Schedule </h2>
                         </div>
                       
                    
                     
            <section class="form-group">

            <h3>1.Check Meeting Schedule and send reminder to groups: <a href="https://calendar.google.com/calendar/r">My Calendar</a> </h3>

            
         
            <br>
            
            <h3>2.Send reschedule request to Module Leader:</h3>
            <textarea  class="form-control required"  rows="13" cols="100" style="resize:none"></textarea>
            <br>
            
            <input class="btn btn-block btn-submit button button--primary smaller" name="submit" accesskey="l" tabindex="6" type="submit" value="submit">

            </div>
    </div>

</div>
</div>
</main>
</div>
</form>

<footer class="footer" role="contentinfo">
    <div class="container">
        <span id="copyright">Copyright © SSITteam4</span>
    </div>
</footer>
</body>
</html>