<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="CSS/PagesStyle.css">
</head>
<body>

<header role="banner">
    <div class="headcontainer">

        <div class="page-title">
            Student services
        </div>
    </div>
</header>

<form class="functionBoard">
    <div class="functionBoard left">
        <div>
        <u1>
            <h1 class="functionBoard-frame functionBoard-Title ">Menu</h1>
            <li class="list-group"><button class="functionBoard-Button current">Home</button></li>
            <li class="list-group"><button class="functionBoard-Button" type="button" onclick="location.href='Page9StudentSelectMember.html'">Select Group member</button></li>
            <li class="list-group"><button class="functionBoard-Button" type="button" onclick="location.href='Page10StudentSelectProject.html'">Select Group project</button></li>
            <li class="list-group"><button class="functionBoard-Button" type="button" onclick="location.href='Page11GroupMarking.html'">Weekly record</button></li>
            <li class="list-group"><button class="functionBoard-Button" type="button" onclick="location.href='Page11Weekly Reporting.html'"> Weekly Reporting </button></li>
        </u1>
        </div>
    </div>
    </div>
    <div class="functionBoard right">
    </div>
</form>



<footer class="footer" role="contentinfo">
    <div class="container">
        <span id="copyright">Copyright © SSITteam4</span>
    </div>
</footer>
</body>
</html>