<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>StudentGroup marking </title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>

    <script>
        function intMaxMin() {
            var inputV=document.getElementById(id).value;

            if(inputV>100){
                document.getElementById(id).value=100;
            }
            if(inputV<0){
                document.getElementById(id).value=0;
            }

        }
    </script>

</head>
<body>

<header role="banner">
    <div class="headcontainer">

        <div class="page-title">
            Student services
        </div>
    </div>
</header>

<form class="functionBoard">
    <div class="functionBoard left">
        <div>
            <u1>

            <h1 class="functionBoard-frame functionBoard-Title ">Menu</h1>
                <li class="list-group"><button class="functionBoard-Button "type="button" onclick="location.href='/SHomePage'">Home</button></li>
                <li class="list-group"><button class="functionBoard-Button" type="button" onclick="location.href='/SSelectMember'">Member manmgement</button></li>
                <li class="list-group"><button class="functionBoard-Button" type="button" onclick="location.href='/SSelectProject'">Project management</button></li>
                <li class="list-group"><button class="functionBoard-Button current" type="button" >Group marking</button></li>
                <li class="list-group"><button class="functionBoard-Button" type="button" onclick="location.href='https://www.google.com/forms/about/'"> Report history</button></li>
                <li class="list-group"><button class="functionBoard-Button" type="button" onclick="location.href='https://calendar.google.com/calendar/r'"> Calendar </button></li>
            </u1>
        </div>
    </div>
    
    <div class="functionBoard right">

        <main role="main" class="container mt-3 mb-3">

            <div id="content" class="row">

                <div class="col-md">

                    <div class="card">
                        <div class="card-header text-center">

                            <h2> Group marking </h2>
                        </div>


                        <div class="card-body">

                            <section class="form-group">
                                <h3>1.Select the first member:

                                    <select>
                                        <option value="member1">member1</option>
                                        <option value="member2">member2</option>
                                        <option value="member3">member3</option>
                                        <option value="member4">member4</option>
                                        <option value="member5">member5</option>
                                        <option value="member6">member6</option>
                                    </select>
                                </h3>
                            </section>

                            <section class="form-group">
                                <h4> &nbsp;  Please rate his contribution to the group in percentage:  <input style="border: solid 1px #404143;width: 50px; background-color: white!important;" type="text" onkeyup="this.value=this.value.replace(/\D/g,'')"> %</h4>

                                <h4> &nbsp; Please briefly describe his contribution to the group： </h4>
                                <textarea class="form-control required" id="group marking1" size="25" tabindex="1" type="text" accesskey="n" autocomplete="off" name=" work with" value=""></textarea>
                            </section>


                            <section class="form-group"v>
                                <h3>2.Select the second member:
                                    <select>
                                        <option value="member1">member1</option>
                                        <option value="member2">member2</option>
                                        <option value="member3">member3</option>
                                        <option value="member4">member4</option>
                                        <option value="member5">member5</option>
                                        <option value="member6">member6</option>
                                    </select>
                                </h3>
                            </section>

                            <section class="form-group">
                                <h4> &nbsp;  Please rate his contribution to the group in percentage:  <input style="border: solid 1px #404143;width: 50px; background-color: white!important;" type="text" type="text" onkeyup="this.value=this.value.replace(/\D/g,'')" onchange="intMaxMin(this.id)" > %</h4>

                                <h4> &nbsp; Please briefly describe his contribution to the group： </h4>
                                <textarea class="form-control required" id="group marking2" size="25" tabindex="1" type="text" accesskey="n" autocomplete="off" name=" work with" value=""></textarea>
                            </section>



                            <section class="form-group">
                                <h3>3.Select the third member:

                                    <select>
                                        <option value="member1">member1</option>
                                        <option value="member2">member2</option>
                                        <option value="member3">member3</option>
                                        <option value="member4">member4</option>
                                        <option value="member5">member5</option>
                                        <option value="member6">member6</option>
                                    </select>
                                </h3>
                            </section>

                            <section class="form-group">
                                <h4> &nbsp;  Please rate his contribution to the group in percentage:  <input style="border: solid 1px #404143;width: 50px; background-color: white!important;" type="text" type="text" onkeyup="this.value=this.value.replace(/\D/g,'')"> %</h4>

                                <h4> &nbsp; Please briefly describe his contribution to the group： </h4>
                                <textarea class="form-control required" id="group marking3" size="25" tabindex="1" type="text" accesskey="n" autocomplete="off" name=" work with" value=""></textarea>
                            </section>


                            <section class="form-group">
                                <h3>4.Select forth member:

                                    <select>
                                        <option value="member1">member1</option>
                                        <option value="member2">member2</option>
                                        <option value="member3">member3</option>
                                        <option value="member4">member4</option>
                                        <option value="member5">member5</option>
                                        <option value="member6">member6</option>
                                    </select>
                                </h3>
                            </section>

                            <section class="form-group">
                                <h4> &nbsp;  Please rate his contribution to the group in percentage:  <input style="border: solid 1px #404143;width: 50px; background-color: white!important;" type="text" type="text" onkeyup="this.value=this.value.replace(/\D/g,'')"> %</h4>

                                <h4> &nbsp; Please briefly describe his contribution to the group： </h4>
                                <textarea class="form-control required" id="group marking4" size="25" tabindex="1" type="text" accesskey="n" autocomplete="off" name=" work with" value=""></textarea>
                            </section>


                            <section class="form-group">
                                <h3>5.Select the fifth member:
                                    <select>
                                        <option value="member1">member1</option>
                                        <option value="member2">member2</option>
                                        <option value="member3">member3</option>
                                        <option value="member4">member4</option>
                                        <option value="member5">member5</option>
                                        <option value="member6">member6</option>
                                    </select>
                                </h3>
                            </section>

                            <section class="form-group">
                                <h4> &nbsp;  Please rate his contribution to the group in percentage:  <input style="border: solid 1px #404143;width: 50px; background-color: white!important;" type="text" type="text" onkeyup="this.value=this.value.replace(/\D/g,'')"> %</h4>

                                <h4> &nbsp; Please briefly describe his contribution to the group： </h4>
                                <textarea class="form-control required" id="group marking5" size="25" tabindex="1" type="text" accesskey="n" autocomplete="off" name=" work with" value=""></textarea>
                            </section>


                            <section class="form-group">
                                <h3>6.Select the sixth member:

                                    <select>
                                        <option value="member1">member1</option>
                                        <option value="member2">member2</option>
                                        <option value="member3">member3</option>
                                        <option value="member4">member4</option>
                                        <option value="member5">member5</option>
                                        <option value="member6">member6</option>
                                    </select>
                                </h3>
                            </section>

                            <section class="form-group">
                                <h4> &nbsp;  Please rate his contribution to the group in percentage:  <input style="border: solid 1px #404143;width: 50px; background-color: white!important;" type="text" type="text" onkeyup="this.value=this.value.replace(/\D/g,'')"> %</h4>

                                <h4> &nbsp; Please briefly describe his contribution to the group： </h4>
                                <textarea class="form-control required" id="group marking" size="25" tabindex="1" type="text" accesskey="n" autocomplete="off" name=" work with" value=""></textarea>
                            </section>


                            <section class="form-group" >
                                <h3>7.Comment:</h3>
                                <textarea  class="form-control required"  rows="13" cols="100" style="resize:none"></textarea>
                            </section>

                        </div>
                        <div align="center"> <input class="btn btn-block btn-submit button button--primary smaller" style="margin-right: 30px;" name="submit" accesskey="l" tabindex="9" type="submit" value="submit"></div>

                        <br>
                    </div>

                </div>
            </div>
        </main>
    </div>
</form>



<footer class="footer" role="contentinfo">
    <div class="container">
        <span id="copyright">Copyright © SSITteam4</span>
    </div>
</footer>
</body>
</html>