<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>

<header role="banner">
    <div class="headcontainer">

        <div class="page-title">
            Student services
        </div>
        <div class="page-title">
            Account
            <br>show email</br>
        </div>
    </div>
</header>

<form class="functionBoard">
    <div class="functionBoard left">
        <div>
        <u1>
            <h1 class="functionBoard-frame functionBoard-Title ">Menu</h1>
            <li class="list-group"><button class="functionBoard-Button current" type="button" id="buttonHome" onclick="location.href='/SHomePage'">Home</button></li>
            <li class="list-group"><button class="functionBoard-Button" type="button" id="buttonMember" onclick="location.href='/SSelectMember'">Member manmgement</button></li>
            <li class="list-group"><button class="functionBoard-Button" type="button" id="buttonProject" onclick="location.href='/SSelectProject'">Project management</button></li>
            <li class="list-group"><button class="functionBoard-Button" type="button" id="buttonMarking" onclick="location.href='/SGroupMarking'">Group marking</button></li>
            <li class="list-group"><button class="functionBoard-Button" type="button" onclick="location.href='https://www.google.com/forms/about/'"> Report history</button></li>
            <li class="list-group"><button class="functionBoard-Button" type="button" onclick="location.href='https://calendar.google.com/calendar/r'"> Calendar </button></li>
        </u1>
        </div>
    </div>
    </div>
    <div class="functionBoard right">
    </div>
</form>



<footer class="footer" role="contentinfo">
    <div class="container">
        <span id="copyright">Copyright © SSITteam4</span>
    </div>
</footer>
</body>
</html>