<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>

    <script>
        function openCalender() {
            onclick=window.open('https://calendar.google.com/calendar/r');
        }

        function openForm() {
            onclick=window.open('https://www.google.com/forms/about/');
        }
    </script>
</head>
<body>

<header role="banner">
    <div class="headcontainer">
        <div  class=" page-title" >
            Welcome, <%= currentUserName%>
        </div>
        <div class="page-title" style="color:#0166b3 ">
            Student service
        </div>
    </div>
</header>

<form class="functionBoard">
    <div class="functionBoard left">
        <div>
            <u1>
                <h1 class="functionBoard-frame functionBoard-Title ">Menu</h1>
                <li class="list-group"><button class="functionBoard-Button current" type="button" id="buttonHome" onclick="location.href='/SHomePage'">Home</button></li>
                <li class="list-group"><button class="functionBoard-Button" type="button" id="buttonMarking" onclick="location.href='/SMyGroup'">My group</button></li>
                <li class="list-group"><button class="functionBoard-Button" type="button" onclick="location.href='/SShowGrade'"> My Grade </button></li>
                <li class="list-group"><button class="functionBoard-Button" type="button" onclick=openCalender()> Calendar </button></li>
                <li class="list-group"><button class="functionBoard-Button" type="button" onclick=openForm()> Form</button></li>

                <button class="functionBoard-Button" style="float:left;" type="button"  onclick="location.href='/logout'">Logout</button>
            </u1>

        </div>
    </div>
    </div>
    <div class="functionBoard right">
    </div>
</form>



<footer class="footer" role="contentinfo">
    <div class="container">
        <span id="copyright">Copyright © SSITteam4</span>
    </div>
</footer>
</body>
</html>