<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select Project</title>
 <link rel='stylesheet' href='/stylesheets/style.css'/>

 <script>
  function openCalender() {
   onclick=window.open('https://calendar.google.com/calendar/r');
  }

  function openForm() {
   onclick=window.open('https://www.google.com/forms/about/');
  }
 </script>
   
</head>
<body>

<header role="banner">
 <div class="headcontainer">
  <div  class=" page-title" >
   Welcome, <%= currentUserName%>
  </div>
  <div class="page-title" style="color:#0166b3 ">
   Student service
  </div>

 </div>
</header>

<form class="functionBoard">
    <div class="functionBoard left">
     <div>
      <u1>
       <h1 class="functionBoard-frame functionBoard-Title ">Menu</h1>
       <li class="list-group"><button class="functionBoard-Button" type="button" id="buttonHome" onclick="location.href='/SHomePage'">Home</button></li>
       <li class="list-group"><button class="functionBoard-Button" type="button" id="buttonMember" onclick="location.href='/SSelectMember'">Member manmgement</button></li>
       <li class="list-group"><button class="functionBoard-Button current" type="button" id="buttonProject" onclick="location.href='/SSelectProject'">Project management</button></li>
       <li class="list-group"><button class="functionBoard-Button" type="button" id="buttonMarking" onclick="location.href='/SMyGroup'">My group</button></li>
       <li class="list-group"><button class="functionBoard-Button" type="button" id="buttonMarking" onclick="location.href='/SGroupMarking'">Group marking</button></li>
       <li class="list-group"><button class="functionBoard-Button" type="button" onclick=openCalender()> Calendar </button></li>
       <li class="list-group"><button class="functionBoard-Button" type="button" onclick="location.href='/SShowGrade'"> My Grade </button></li>
       <li class="list-group"><button class="functionBoard-Button" type="button" onclick=openForm()> Form</button></li>

       <button class="functionBoard-Button" style="float:left;" type="button"  onclick="location.href='/logout'">Logout</button>

      </u1>

     </div>
    </div>
   
    <div class="functionBoard right">
            <main role="main" class="container mt-3 mb-3">
                <div id="content" class="row">
                    <div class="col-md"style="margin-bottom: 35px">
                        <h2 class="projectScream title">Project management</h2>
                        <div class="projectScream form" >
                            <u1 class="projectScream item">

                            <li class="list-group project">
                             <section class="form-group">
                           

                            
                            <div> See the projects released by tutor:<a href="https://vuejs.org/images/logo.png" download="2017.png">See all projects here</a> 
                            </div>

                             <br>

                             <div>Select the 1st prefer project to wishlist:
                             <select>
                             <option value="Project1">Project1</option>
                             <option value="Project2">Project2</option>
                             <option value="Project3">Project3</option>
                             <option value="Project4">Project4</option>
                             <option value="Project5">Project5</option>
                             <option value="Project6">Project6</option>
                             <option value="Project7">Project7</option>
                             <option value="Project8">Project8</option>
                             <option value="Project9">Project9</option>
                             <option value="Project10">Project10</option>
                             <option value="Project11">Project11</option>
                             <option value="Project12">Project12</option>
                             <option value="Project13">Project13</option>
                             <option value="Project14">Project14</option>
                             <option value="Project15">Project15</option>
                             <option value="Project16">Project16</option> 
                             <option value="Project17">Project17</option>
                             <option value="Project18">Project18</option>
                             <option value="Project19">Project19</option>
                             <option value="Project20">Project20</option>
                             <option value="Project21">Project21</option>
                             <option value="Project22">Project22</option>
                             <option value="Project23">Project23</option>
                             <option value="Project24">Project24</option>
                             <option value="Project25">Project25</option>
                             <option value="Project26">Project26</option>
                             <option value="Project27">Project27</option>
                             <option value="Project28">Project28</option>
                             <option value="Project29">Project29</option>
                             <option value="Project30">Project30</option>
                             <option value="Project31">Project31</option>
                             <option value="Project32">Project32</option>
                             </select>
                             </div>
                             <br>

                            
                             <div>Select the 2nd prefer project to wishlist:
                             <select>
                             <option value="Project1">Project1</option>
                             <option value="Project2">Project2</option>
                             <option value="Project3">Project3</option>
                             <option value="Project4">Project4</option>
                             <option value="Project5">Project5</option>
                             <option value="Project6">Project6</option>
                             <option value="Project7">Project7</option>
                             <option value="Project8">Project8</option>
                             <option value="Project9">Project9</option>
                             <option value="Project10">Project10</option>
                             <option value="Project11">Project11</option>
                             <option value="Project12">Project12</option>
                             <option value="Project13">Project13</option>
                             <option value="Project14">Project14</option>
                             <option value="Project15">Project15</option>
                             <option value="Project16">Project16</option> 
                             <option value="Project17">Project17</option>
                             <option value="Project18">Project18</option>
                             <option value="Project19">Project19</option>
                             <option value="Project20">Project20</option>
                             <option value="Project21">Project21</option>
                             <option value="Project22">Project22</option>
                             <option value="Project23">Project23</option>
                             <option value="Project24">Project24</option>
                             <option value="Project25">Project25</option>
                             <option value="Project26">Project26</option>
                             <option value="Project27">Project27</option>
                             <option value="Project28">Project28</option>
                             <option value="Project29">Project29</option>
                             <option value="Project30">Project30</option>
                             <option value="Project31">Project31</option>
                             <option value="Project32">Project32</option>
                             </select>
                             </div>
                             <br>

                             <div>Select the 3rd prefer project to wishlist:
                             <select>
                             <option value="Project1">Project1</option>
                             <option value="Project2">Project2</option>
                             <option value="Project3">Project3</option>
                             <option value="Project4">Project4</option>
                             <option value="Project5">Project5</option>
                             <option value="Project6">Project6</option>
                             <option value="Project7">Project7</option>
                             <option value="Project8">Project8</option>
                             <option value="Project9">Project9</option>
                             <option value="Project10">Project10</option>
                             <option value="Project11">Project11</option>
                             <option value="Project12">Project12</option>
                             <option value="Project13">Project13</option>
                             <option value="Project14">Project14</option>
                             <option value="Project15">Project15</option>
                             <option value="Project16">Project16</option> 
                             <option value="Project17">Project17</option>
                             <option value="Project18">Project18</option>
                             <option value="Project19">Project19</option>
                             <option value="Project20">Project20</option>
                             <option value="Project21">Project21</option>
                             <option value="Project22">Project22</option>
                             <option value="Project23">Project23</option>
                             <option value="Project24">Project24</option>
                             <option value="Project25">Project25</option>
                             <option value="Project26">Project26</option>
                             <option value="Project27">Project27</option>
                             <option value="Project28">Project28</option>
                             <option value="Project29">Project29</option>
                             <option value="Project30">Project30</option>
                             <option value="Project31">Project31</option>
                             <option value="Project32">Project32</option>
                             </select>
                             </div>
                             <br>


                             <div>Select the 4th prefer project to wishlist:
                             <select>
                             <option value="Project1">Project1</option>
                             <option value="Project2">Project2</option>
                             <option value="Project3">Project3</option>
                             <option value="Project4">Project4</option>
                             <option value="Project5">Project5</option>
                             <option value="Project6">Project6</option>
                             <option value="Project7">Project7</option>
                             <option value="Project8">Project8</option>
                             <option value="Project9">Project9</option>
                             <option value="Project10">Project10</option>
                             <option value="Project11">Project11</option>
                             <option value="Project12">Project12</option>
                             <option value="Project13">Project13</option>
                             <option value="Project14">Project14</option>
                             <option value="Project15">Project15</option>
                             <option value="Project16">Project16</option> 
                             <option value="Project17">Project17</option>
                             <option value="Project18">Project18</option>
                             <option value="Project19">Project19</option>
                             <option value="Project20">Project20</option>
                             <option value="Project21">Project21</option>
                             <option value="Project22">Project22</option>
                             <option value="Project23">Project23</option>
                             <option value="Project24">Project24</option>
                             <option value="Project25">Project25</option>
                             <option value="Project26">Project26</option>
                             <option value="Project27">Project27</option>
                             <option value="Project28">Project28</option>
                             <option value="Project29">Project29</option>
                             <option value="Project30">Project30</option>
                             <option value="Project31">Project31</option>
                             <option value="Project32">Project32</option>
                             </select>
                             </div>
                             <br>


                             <div>Select the 5th prefer project to wishlist:
                             <select>
                             <option value="Project1">Project1</option>
                             <option value="Project2">Project2</option>
                             <option value="Project3">Project3</option>
                             <option value="Project4">Project4</option>
                             <option value="Project5">Project5</option>
                             <option value="Project6">Project6</option>
                             <option value="Project7">Project7</option>
                             <option value="Project8">Project8</option>
                             <option value="Project9">Project9</option>
                             <option value="Project10">Project10</option>
                             <option value="Project11">Project11</option>
                             <option value="Project12">Project12</option>
                             <option value="Project13">Project13</option>
                             <option value="Project14">Project14</option>
                             <option value="Project15">Project15</option>
                             <option value="Project16">Project16</option> 
                             <option value="Project17">Project17</option>
                             <option value="Project18">Project18</option>
                             <option value="Project19">Project19</option>
                             <option value="Project20">Project20</option>
                             <option value="Project21">Project21</option>
                             <option value="Project22">Project22</option>
                             <option value="Project23">Project23</option>
                             <option value="Project24">Project24</option>
                             <option value="Project25">Project25</option>
                             <option value="Project26">Project26</option>
                             <option value="Project27">Project27</option>
                             <option value="Project28">Project28</option>
                             <option value="Project29">Project29</option>
                             <option value="Project30">Project30</option>
                             <option value="Project31">Project31</option>
                             <option value="Project32">Project32</option>
                             </select>
                             </div>
                             <br>
                            </section>
                            <input type="button" class="btn btn-block btn-submit button button--primary smaller" style="margin-left: 480px" name="submit" type="submit"  value="add">

                             </li>
                          
                             </u1>
                        
                      
                        
                 
                        </div>
                    </div>
                </div>
            </main>
    </div>        
</form>




<footer class="footer" role="contentinfo">
    <div class="container">
        <span id="copyright">Copyright © SSITteam4</span>
    </div>
</footer>
</body>
</html>  

