<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select Group</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>

<header role="banner">
    <div class="headcontainer">

        <div class="page-title">
            Student services
        </div>
    </div>
</header>

<form class="functionBoard">
    <div class="functionBoard left">
        <div>
        <u1>

            <h1 class="functionBoard-frame functionBoard-Title ">Menu</h1>
            <li class="list-group"><button class="functionBoard-Button" type="button" onclick="location.href='Page8StudentHomePage.html'">Home</button></li>
            <li class="list-group"><button class="functionBoard-Button current">Member manmgement</button></li>
            <li class="list-group"><button class="functionBoard-Button" type="button" onclick="location.href='Page10StudentSelectProject.html'">Project management</button></li>
            <li class="list-group"><button class="functionBoard-Button" type="button" onclick="location.href='Page11GroupMarking.html'">Group marking</button></li>
            <li class="list-group"><button class="functionBoard-Button" type="button" onclick="location.href='https://www.google.com/forms/about/'"> Report history</button></li>
            <li class="list-group"><button class="functionBoard-Button" type="button" onclick="location.href='https://calendar.google.com/calendar/r'"> Calendar </button></li>
            
        </u1>
        </div>
    </div>





    <div class="functionBoard right">
        <main role="main" class="container mt-3 mb-3">
            <div id="content" class="row">
                <div class="col-md"style="margin-bottom: 35px">
                    <h2 class="projectScream title">Select Group member</h2>
                    <div class="projectScream form" >
                        <u1 class="projectScream item"  >
                            <li class="list-group project" id="isProjectName">
                                <label > Choose member you want to work with : </label>
                            </li>
                            <li class="list-group project"style=" margin-left: 50px">
                                <section class="form-group" style="margin-right: 400px!important;">
                                    <div style="margin-bottom: 30px">
                                        Member1:<input class="form-control required" style="width: 55%; float: right;margin-right: 180px; background-color: white!important;"   id=" work with1" size="25" tabindex="1" type="text" accesskey="n" autocomplete="off" name=" work with" value="">
                                </div>
                                    <div style="margin-bottom: 30px">
                                        Member2:<input class="form-control required"  style="width: 55%; float: right;margin-right: 180px; background-color: white!important;" id=" work with2" size="25" tabindex="1" type="text" accesskey="n" autocomplete="off" name=" work with" value="">
                                    </div>

                            </section>


                            <li class="list-group project" >
                            <label for="not work with"> Choose member you do not want to work with :</label>
                            </li>
                            <li class="list-group project"style=" margin-left: 50px">
                                <section class="form-group" style="margin-right: 400px!important;">
                                    <div style="margin-bottom: 30px">
                                    Member1:
                                    <input class="form-control required" style="width: 55%; float: right;margin-right: 180px;background-color: white!important;"  id="not work with" size="25" tabindex="1" type="text" accesskey="n" autocomplete="off" name="not work with" value="">
                                    </div>
                                    <div style="margin-bottom: 5px">
                                        Member2:
                                    <input class="form-control required" style="width: 55%; float: right;margin-right: 180px; background-color: white!important;"  id=" work with3" size="25" tabindex="1" type="text" accesskey="n" autocomplete="off" name=" work with" value="">
                                    </div>
                                    <br>
                                    <input class="btn btn-block btn-submit button button--primary smaller" style="margin-right: 180px" name="submit" accesskey="l" tabindex="9" type="submit" value="submit">

                                </section>




                            </li>
                        </u1>
                    </div>

                </div>
            </div>
        </main>
    </div>


</main>



</form>






<footer class="footer" role="contentinfo">
    <div class="container">
        <span id="copyright">Copyright © SSITteam4</span>
    </div>
</footer>
</body>
</html>